body{
    width: 90%;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: greenyellow;
    justify-self: center;
}

header{
    font-size: small;
    justify-items: center;
    justify-content: center;
}

pre:first-child{
    justify-self: center;
    justify-content: center;
    border: 1px, solid, white;
    padding: 20px;
}

footer{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    justify-self: center;
}

.inputArea{
    justify-self: center;
}

input{
    font-family: 'Courier New', Courier, monospace;
    color: greenyellow;
    background-color: #505050;
}

button {
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
    color: white;
    background-color: darkgreen;
    font-weight: bold;
    line-height: 20px;
}

#clearButton {
    font-family: 'Courier New', Courier, monospace;
    text-align: center; 
    color: white;
    background-color: red;
    font-weight: bold;
    line-height: 20px;
}

input::placeholder{
    color: white;
    text-align: center;
    font-weight: bold;
    
}

ul{
    
    width: inherit;
    list-style-type: none;
    justify-self: center;
    justify-items: center;
    border: 1px, solid, white;
    padding-bottom: 10px;
}

li{
    margin: 20px;
    text-wrap: nowrap;
}

.task{
    color: white;
    /*Uncompleted Tasks Container?*/
    
}

.completedtask{
    text-decoration: line-through;
    /*Completed Tasks Container? */
}

pre{
    font-size: small;
    margin: 2;
    justify-content: center;
}

/* Button styles, and specific button styles?*/