h1 {
    color: red;
}

li{
    /*applies to all LI (task) items, override below*/
}

.task{
    color: black;
    /*Uncompleted Tasks Container?*/
    
}

.completedtask{
    text-decoration: line-through;
    /*Completed Tasks Container? */
}

/* Button styles, and specific button styles?*/